%p#notice= notice
%p
  = @dish.title

-# THE NEXT FEW LINES CAN BE ADDED AT A LATER TIME  
-#%p
  -#submitted by:
  -#= @user.nickname
  -#under
  -#= @dish.country.name
  
%p
  - if @dish.image.file?
    .image
    = image_tag @dish.image.url(:medium)
%p
  = @dish.recipe
%p 
  = link_to 'Edit this Dish', edit_dish_path(@dish) 
  |
  = link_to 'Back to Dishes', country_path(@dish.country)
