%p#notice= notice

%h1 An Arabic Cookbook

%p Pick a country below to see some recipes from around the world!

%table
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @countries.each do |country|
      %tr
        %td= country.name
        %td= link_to 'Show', country
        %td= link_to 'Edit', edit_country_path(country)
        %td= link_to 'Destroy', country, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add New Country', new_country_path
