%p#notice= notice

%h1
  = @country.name
  
%table
  %thead
    %tr
      %th
      %th
      %th
      %th
      %th
      
  %tbody    
    - @country.dishes.each do |dish|
      %tr
      %td= image_tag(dish.image.url(:thumb))
      %td= dish.title 
      %td= link_to 'Show', dish
      %td= link_to 'Edit', edit_dish_path(dish)
      %td= link_to 'Destroy', dish, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br/
%p 
  = link_to 'Add New Dish', new_country_dish_path(@country)
  |
  = link_to 'Back to All Countries', countries_path
